<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <div class="nav-logo">
        <a class="navbar-brand" href="/"><img src="/images/dak-logo.png" alt="Dakshana-logo"></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lectures">Lectures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/exams">Exam</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/syllabus">Syllabus</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>