<% layout('../views/layouts/boilerplates') -%>
<div class="lecture-container">
  <div class="filter-content">
    <div class="class">
      <label for="class">Class:</label>
      <select id="class" onchange="filterTable1()">
          <option value="IX">IX</option>
          <option value="X">X</option>
          <option value="XI">XI</option>
          <option value="XII">XII</option>
      </select>
    </div>
      <div class="subject">
        <label for="subject">Subject:</label>
      <select id="subject" onchange="filterTable2()">
          <option value="Physics" selected>Physics</option>
          <option value="Chemistry">Chemistry</option>
          <option value="Mathematics">Mathematics</option>
          <option value="Biology">Biology</option>
      </select>
      </div>
  </div>
  <div class="lecture-body">
      <div class="video-list">
        <table id="myTable">
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Chapter or Subject">
          <h4>Lecture List</h4>
          <thead>
            <tr class="header">
              <th scope="col">SN</th>
              <th scope="col">Class</th>
              <th scope="col" class="syllabus">Subject</th>
              <th scope="col" >Chapter_Name</th>
              <th scope="col">Lecture Number</th> 
              <th scope="col">video Link</th>
            </tr>
          </thead>
            <% let sn = 1; %>
            <% for(listing of listings){ %>
           <tbody>
              <tr class="clickable-row" data-href="">
                <td scope="row"><%= sn %></td>
                <td scope="row"><%= listing.class %></td>
                <td scope="row" ><%= listing.subject %></td>
                <td scope="row" ><%= listing.chapter_name %></td>
                <td scope="row"><%= listing.lecture_number %></td>
                <td scope="row"><a href="#" onclick="changeVideo('<%= listing.video_link %>')"><svg width="auto" height="2rem" fill="red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 676 612"><path d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"/></svg></i></a></i></td>
                <% sn +=1; %>
              </tr>
            <% }%>
           </tbody>
          </table> 
        </div>
          <div class="video-box">
            <iframe id="videoBox" width="100%" height="95%" id="youtube-video" src=""width="640" height="95%" frameborder="0" allowfullscreen></iframe>
          </div>
  </div>
</div>

