<% layout('../views/layouts/boilerplates') -%>

<div class="row">
  <div class="col">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Class
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Class IX</a>
        <a class="dropdown-item" href="#">Class X</a>
        <a class="dropdown-item" href="#">Class XI</a>
        <a class="dropdown-item" href="#">Class XII</a>
        <a class="dropdown-item" href="#">Class XIII</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</div>

