.main-body {
  margin-right: 1%;
}

.nav-logo img {
    height: 50px;
    width: 80px;
}
.navbar {
    background-color: white !important;
    margin-bottom: 1rem;
}

.qna h3 {
    margin-top: 1rem;
    color: #914D7E;
}

.gallery {
  width: 90%;
  overflow: hidden;
}

.gallery-content {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.gallery-content img {
  width: auto;
  height: 100%;
}

.footer {
    background-color: rgb(214, 212, 209);
    display: flex;
    align-items: center;
}


a {
  text-decoration: none;
}


/* search */

#myInput {
    width: 100% ;
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
  }
  
  #myTable {
    border-collapse: collapse; 
    border: 1px solid #ddd; 
    font-size: 18px; 
    
  }
  
  #myTable th, #myTable td {
    text-align: center;
    padding: 12px; 
  }
  #myTable th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }

  
.lecture-body {
    display: grid;
      grid-template-columns: 1fr 1fr; /* Two columns with equal width */
      gap: 20px;
}

  .video-box {
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #f0f0f0;
      height: 400px;
      
  }
iframe {
  background-color: #c1c5ce;
  border-radius: 5px solid white;
  
}

  .video-list {
    height: 80vh;
    overflow-x: hidden;
  }


/* filter content */
.filter-content {
  display: flex;
  align-items: flex-start;
}
.filter-content div {
  margin-right: 1rem;
}



